.App {
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.ProductTitle {
    font-size: 23px;
    line-height: 1.25;
    text-align: center;
}

.OverallStarsRow {
  margin: 20px;
  align-items: center;
}

.PickupBtn {
  text-align: center;
}

.FiveStars{
  margin: 20px;
  align-items: center;
}

.FiveStarsReview{
  align-items: center;
}

.Target-red {
  color: #cc0000;
}

.Target-red-bkg {
  background-color: #cc0000;
  color: white
}

.red-star {
  color: #cc0000;
}

.gray-star {
  color: darkgray;
}

.breadcrumb {
  background-color: transparent;
}

.right-col {
  text-align: left;
}

.online-tag {
  vertical-align: -webkit-baseline-middle;
  margin-left: 10px;
}

.card {
  background-color: rgb(247, 247, 247);
  border-color: rgb(247, 247, 247);
  color: black;
  text-align: left;
  align-content: center;
  word-wrap: normal
}

.card-body{
  padding: 0px;

}

.card-title {
  margin-bottom: 0px;
}

.review-title {
  font-weight: bold;
  margin: 0px;
}

.review-text {
  margin: 0px;
}

.review-column {
  padding-left: 0px;
  padding-right: 0px;
}

.major-btn {
  width: 100%;
}

.minor-btn {
  background-color: rgb(247, 247, 247);
  width: 100%;
}

.row {
  margin: 20px;
}

.small-text {
  font-size: small;
}

a {
  font-weight: bold;
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: black;
}

.image-carousel {
  margin-bottom: 10px;
}

.carousel-images {
  width: 50%;
}

.slick-slide img{
  width: 50%;
}

.static-position {
  position: static;
}

.promo-ul {
    list-style-type: none;
    margin: 0px;
    padding-left: 0;
}

.promo-tag {
  color: #cc0000;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.icon {
  font-size: 1.5em;
}

.quantity-icon {
  font-size: 1.5em;
  color: #a9a9a9;
  margin: 15px;
}

.viewLarger {
  margin: 15px;
}

.zoomIn{
  margin-top: 50px;
}

.return-policy {
  word-wrap: normal;
}

.features-row {
  margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    outline: 0px;
}

h1 {
    font-size: 29px;
}

*, ::before, ::after {
    box-sizing: inherit;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    /* font-weight: bold; */
}

body {
    line-height: 1.42857;
    color: rgb(51, 51, 51);
    background-color: white;
    max-width: 100%;
    overflow-x: hidden;
    margin: 0px;
} 

html {
    font-family: Helvetica, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    text-size-adjust: 100%;
    box-sizing: border-box;
} 
